.ucllogo{
	color: black;
}
.myname{
	font-size: 22px;
	font-style: italic;
	font-family: georgia;
}
body
{
	background-color: maroon;
	background-image: url(../img/parli.jpg);
	background-size: cover;
	height: 100vh;
}

header{
	background-image: url(../img/183.jpg);
	background-size: cover;
	height: 160vh;
}

.extra-space{
	margin-top: 100px;

}
.insta{
	color: red;
}
@viewport{
    zoom: 1.0;
    width: device-width;
}