.ucllogo{
	color: black;
}
.myname{
	font-size: 26px;
	font-style: italic;
	font-family: georgia;
}
body
{
	background-color: maroon;
}

header{
	background-image: url(../img/183.jpg);
	background-size: cover;
	height: 100vh;
}

.extra-space{
	margin-top: 100px;

}